<div class = 'container'>
<h1>Deaf Aunty</h1>

<p>Say something to Aunty</p>

<form action="/aunty" method="post" id = "form">
  <input type="text" name="user_input">
  <input type="submit" value="Say It!">
</form>


<!---<%= params %>

<p><%= params %></p>
-->
<p><%= params[:aunty] %></p>
</div>